AUTHENTIK_CLIENT_ID=CHANGE_ME
AUTHENTIK_CLIENT_SECRET=CHANGE_ME
AUTHENTIK_ISSUER=https://auth.idchsuite.my.id/application/o/portal
AUTH_SECRET=CHANGE_ME
NEXTAUTH_URL=https://portal.idchsuite.my.id
BACKEND_URL=http://portal-backend:8080
